In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import plotly
import plotly.express as px
from sklearn.model_selection import LeaveOneOut
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [85]:
df = pd.read_excel('6.2 data.xlsx')
df

   Площадь    Этаж     Класс
0        70       7   Комфорт
1        30       1    Эконом
2        38       2    Эконом
3        55      12   Комфорт
4        40      10  Комфорт
5        30      10    Эконом
6       100       2   Комфорт

In [86]:
flat_1 = [60, 5, 'who_knows']
flat_2 = [40, 2, 'who_knows']

In [87]:
def distance(A, X):
    dist = 0
    for i in range(len(A)):
        dist += (A[i] - X[i])**2
    dist = dist ** 0.5
    return dist

In [80]:
dist_to_other_flats = []
for i in range (len( df)):
    dist_to_other_flats.append(  distance(   df[df.index == i].values[0][:-1], flat_1[:-1]   )      )
dist_to_other_flats

[10.198039027185569,
 30.265491900843113,
 22.20360331117452,
 8.602325267042627,
 20.615528128088304,
 30.4138126514911,
 40.11234224026316]

In [81]:
df['dist_to_flat_1'] = dist_to_other_flats

In [82]:
df = df.sort_values('dist_to_flat_1')

In [83]:
df.iloc[0:3,2:3]

     Класс
3   Комфорт
0   Комфорт
4  Комфорт

In [88]:
dist_to_other_flats = []
for i in range (len( df)):
    dist_to_other_flats.append(  distance(   df[df.index == i].values[0][:-1], flat_2[:-1]   )      )
dist_to_other_flats

[30.4138126514911,
 10.04987562112089,
 2.0,
 18.027756377319946,
 8.0,
 12.806248474865697,
 60.0]

In [89]:
df['dist_to_flat_2'] = dist_to_other_flats

In [90]:
df = df.sort_values('dist_to_flat_2')

In [91]:
df.iloc[0:3,2:3]

     Класс
2    Эконом
4  Комфорт
1    Эконом