# Случайный лес

В этом практическом задании вы решите задачу регрессии на реальных данных при помощи линейной модели и случайного леса.

## Цели практической работы

* Научиться применять случайный лес в задаче регрессии.
* Научиться сравнивать качество случайного леса с качеством линейной модели.
* Научиться настраивать гиперпараметры леса.

## Что входит в работу

* Выполнить предобработку данных.
* Обучить линейную регрессию на данных задачи.
* Обучить случайный лес на данных задачи.
* Подобрать гиперпараметры для леса.
* Визуализировать важность признаков у леса.

## Что оценивается

*  Все ячейки заполнены; при запуске ячеек  Python не выдаёт информацию об ошибках.
*  Качество итоговой модели $R^2$ превышает 0,95.

## Что нужно сделать

Постройте модели, предсказывающие стоимость автомобилей по характеристикам.

Признаков у машин много, но в этой работе обойдёмся только числовыми признаками:
*  year — год производства автомобиля;
*  km_driven — пробег;
*  seats — количество посадочных мест;
*  mileage — другая характеристика пробега;
*  engine — мощность двигателя;
*  max_power — мощность автомобиля.

Целевая переменная — selling_price.

In [1]:
import pandas as pd
import numpy as np

train = pd.read_csv('11.6 cars_train.csv')
test = pd.read_csv("11.6 cars_test.csv")

Создайте объекты Xtrain, ytrain, Xtest, ytest. Запишите в них матрицы «объект — признак» и векторы целевой переменной для тренировочного и тестового датасетов.

In [21]:
train = train[train.selling_price.isna() == False]

In [41]:
train['mileage'].apply(lambda x: eval(x.replace(' kmpl', '')))

AttributeError: 'float' object has no attribute 'replace'

In [40]:
cols = ['mileage', 'engine','max_power']
train['mileage']

0        23.4 kmpl
1       21.14 kmpl
2        23.0 kmpl
4       20.14 kmpl
6        16.1 kmpl
           ...
6992     18.9 kmpl
6993     18.5 kmpl
6995     19.3 kmpl
6996    23.57 kmpl
6997    23.57 kmpl
Name: mileage, Length: 6699, dtype: object

In [34]:
cols = ['mileage', 'engine','max_power']
for col in cols:
    try:
        train[col].apply(lambda x: x.replace(' kmpl', ''))
#     except invalid syntax:
#         train[col].apply(lambda x: eval(x.replace(' CC', '')))
#     except invalid syntax:
#         train[col].apply(lambda x: eval(x.replace(' bhp', '')))        
    finally:
        pass
train

AttributeError: 'float' object has no attribute 'replace'

In [33]:
cols = ['mileage', 'engine','max_power']
train[cols]

         mileage   engine   max_power
0      23.4 kmpl  1248 CC      74 bhp
1     21.14 kmpl  1498 CC  103.52 bhp
2      23.0 kmpl  1396 CC      90 bhp
4     20.14 kmpl  1197 CC   81.86 bhp
6      16.1 kmpl   796 CC      37 bhp
...          ...      ...         ...
6992   18.9 kmpl   998 CC    67.1 bhp
6993   18.5 kmpl  1197 CC   82.85 bhp
6995   19.3 kmpl  1248 CC    73.9 bhp
6996  23.57 kmpl  1396 CC      70 bhp
6997  23.57 kmpl  1396 CC      70 bhp

[6699 rows x 3 columns]

In [22]:
X = train.drop(train.columns[2], axis=1)
y = train[train.columns[2]]

In [23]:
# Ваш код здесь
from sklearn.model_selection import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.25, random_state=42)#:)

В тренировочных данных есть автомобили, для которых неизвестна стоимость. Удалите эти автомобили из трейна.

In [24]:
# выше на всем трэйне целиком

Перед обучением моделей обработайте данные.

Обратите внимание, что столбцы mileage, engine и max_power по смыслу числовые. Чтобы превратить их в числовые столбцы, отбросьте единицы измерения и оставьте только числа. В столбцах есть пропущенные значения, их при обработке трогать не нужно.

In [ ]:
# выше на всем трэйне целиком

Оставьте в данных только шесть числовых столбцов:

year, km_driven, seats, engine, mileage, max_power

In [ ]:
# Ваш код здесь

Теперь заполните пропуски следующим образом:

*    вычислите средние значения по столбцам тренировочной выборки;

*    добавьте в пропуски в тренировочных и тестовых данных вычисленные средние.

In [ ]:
# Ваш код здесь

Теперь на обработанных тренировочных данных обучите:

*  линейную регрессию,
*  случайный лес с параметрами по умолчанию.

На обработанных тестовых данных сделайте предсказание и вычислите метрику $R^2$.

In [ ]:
# Ваш код здесь

Какая модель получилась лучше?

In [ ]:
# Ваш ответ здесь

Улучшите качество предсказания случайного леса путём подбора гиперпараметров:

*   n_estimators,
*   max_depth,
*   max_features,
*   min_samples_leaf,
*   min_samples_split.

Для подбора гиперпараметров используйте GridSearchCV. Обучайте GridSearchCV по тренировочным данным с разбивкой на три фолда и метрикой $R^2$.

In [ ]:
# Ваш код здесь

Теперь обучите на тренировочных данных случайный лес с найденными гиперпараметрами. Сделайте предсказание на тестовых данных и оцените его качество ($R^2$).

In [ ]:
# Ваш код здесь

Модель готова. Осталось её проинтерпретировать.

При помощи метода model.feature_importances_ визуализируйте гистограмму важности признаков у случайного леса с настроенными гиперпараметрами.

In [ ]:
# Ваш код здесь