In [1]:
import random

In [164]:
ranges = {'pc': (1121,1225), 'laptop': (2121, 2225), 'printer': (3121, 3225)}
model_ranges = dict()
groups= ['pc', 'laptop', 'printer']
for group in groups:
    models = []
    for model_counter in range(ranges[group][0], ranges[group][1]):
        models.append(model_counter)
    model_ranges[group] = models

In [190]:
with open('create_and_fill_PC.sql', 'w') as file:
    file.write(
        'CREATE TABLE PC (code INTEGER, model INTEGER, speed INTEGER, ram INTEGER, '
        'hd NUMERIC(10,1), cd VARCHAR(50), price NUMERIC(10,4));\n'
    )
    file.write('INSERT INTO PC\n')
    file.write('VALUES\n')

    values = []
    pc_models = []
    for code in range(1121, 1225):
        #pc_models.append(random.randrange(model_ranges['pc'][0], model_ranges['pc'][-1]))
        pc_models.append(code)
        values.append(
            f"({code-1120}, {code}, {random.randrange(500, 901, 100)},"
            f' {random.randrange(32, 129, 32)}, {random.randrange(5, 21, 5)},'
            f' \'{random.randrange(12, 53, 4)}x\', {random.randrange(350, 1001, 50)})'
        )

    # Чтобы в конце не стояла запятая и код корректно сработал
    file.write(',\n'.join(values) + ';\n')

In [191]:

with open('create_and_fill_Laptop.sql', 'w') as file:
    file.write(
        'CREATE TABLE Laptop (code INTEGER, model INTEGER, speed INTEGER, ram INTEGER, '
        'hd NUMERIC(10,1), price NUMERIC(10,4), screen NUMERIC(10,4));\n'
    )
    file.write('INSERT INTO Laptop\n')
    file.write('VALUES\n')
    values = []
    laptop_models = []
    for code in range(1, 105):
        laptop_models.append(code+2120)
        values.append(
            f"({code}, "
            f"{laptop_models[-1]}, "
            f"{random.randrange(500, 901, 100)}, "
            f"{random.randrange(32, 129, 32)}, "
            f"{random.randrange(5, 21, 5)}, "
            f"{random.randrange(350, 1001, 50)}, "
            f"{random.randrange(15,21,2)})"
        )
    

    # Чтобы в конце не стояла запятая и код корректно сработал
    file.write(',\n'.join(values) + ';\n')

In [192]:
colours = [
    'r',
    'g',
    'b'    
]
p_types = ['Laser', 'Matrix']


with open('create_and_fill_Printer.sql', 'w') as file:
    file.write(
        'CREATE TABLE Printer (code INTEGER, model INTEGER, color VARCHAR(50), type VARCHAR(50), '
        'price NUMERIC(10,4));\n'
    )
    file.write('INSERT INTO Printer\n')
    file.write('VALUES\n')
    values = []
    printer_models = []
    for i in range(1, 105):
        printer_models.append(i+3120)
        values.append(
            f"({i}, "
            f"{printer_models[-1]}, "
            f"'{colours[random.randint(0,2)]}', "
            f"'{p_types[random.randint(0,1)]}', "
            f"{random.randrange(50, 801, 40)})"
        )
    

    # Чтобы в конце не стояла запятая и код корректно сработал
    file.write(',\n'.join(values) + ';\n')

In [193]:
models_all = dict()
models_all['pc'] = pc_models
models_all['printer'] = printer_models
models_all['laptop'] = laptop_models

In [194]:
manufacturers = [
    'Red LTD',
    'Blue Inc.',
    'GreenCorp'    
]


with open('create_and_fill_Product.sql', 'w') as file:
    file.write(
        'CREATE TABLE Product (maker VARCHAR(50), model INTEGER, type VARCHAR(50));\n'
    )
    file.write('INSERT INTO Product\n')
    file.write('VALUES\n')

    values = []
    for group in groups:
        for i in range(104):
            values.append(
                f"('{manufacturers[random.randint(0,1)] if group == groups[1] else manufacturers[random.randint(0,2)]}', "
                f"{models_all[group][i]}, "
                f"'{group}')")


    # Чтобы в конце не стояла запятая и код корректно сработал
    file.write(',\n'.join(values) + ';\n')

In [173]:
groups

['pc', 'laptop', 'printer']